<div>
  <h2>Your form inputs</h2>
  <h4>Your name</h4>
  <p>
    <%= @your_name %>
  </p>
  <h4>Sport You Play</h4>
  <p>
    <%= @sport %>
  </p>
  <h4>Year</h4>
  <p>
    <%= @year %>
  </p>
</div>
